#!/usr/bin/env nextflow

manifest {
  description = 'single cell RNA-seq simulation pipeline implemented with Nextflow' 
  author = 'Mate Balajti, C.J. Herrmann'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */
 
params.outdir = "results"
params.trx_cnt = "${projectDir}/input_files/expression.csv"
params.annotation = "${projectDir}/input_files/test.gtf"
params.n_trx = 100
params.prob = 0.3
params.transcriptSeq = "${projectDir}/input_files/dbRNA_test.fa"
params.primerSeq = "${projectDir}/input_files/queryRNA_test.fa"

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  standard {
    process.container = 'docker://zavolab/scrnasim-toolz:latest'
  }
  docker {
    process.container = 'docker://zavolab/scrnasim-toolz:latest'
    docker.enabled = true
  }
  singularity {
    process.container = 'docker://zavolab/scrnasim-toolz:latest'
    singularity.enabled = true
    singularity.autoMounts = true
  }
  conda {
    conda.enabled = true
    conda.channels = 'bioconda,conda-forge,defaults'
  }
  slurm {
    process.container = 'docker://zavolab/scrnasim-toolz:latest'
    process.executor = 'slurm'
    singularity.enabled = true
    singularity.cacheDir = "${HOME}/.singularity/cache/library"
    singularity.libraryDir = "${HOME}/.singularity/cache/library"
  }
}