
manifest {
  description = 'single cell RNA-seq simulation pipeline implemented with Nextflow' 
  author = 'Mate Balajti'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */
 
params.outdir = "results"
params.repTransCsv = "${projectDir}/input_files/output.csv"
params.repTransGtf = "${projectDir}/input_files/output.gtf"

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  standard {
    process.container = 'quay.io/biocontainers/scrnasim-toolz'
  }
  docker {
    process.container = 'quay.io/biocontainers/scrnasim-toolz'
    docker.enabled = true
  }
  singularity {
    process.container = 'quay.io/biocontainers/scrnasim-toolz'
    singularity.enabled = true
    singularity.autoMounts = true
  }

  conda {
    conda.enabled = true
    conda.channels = 'bioconda,conda-forge,defaults'
  }
  
  slurm {
    process.container = 'quay.io/biocontainers/scrnasim-toolz'
    process.executor = 'slurm'
    singularity.enabled = true
  }
}